body {
  margin: 0;
  padding: 0;
  background-color: #0e1111;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h1 {
  color: white;
  text-align: center;
}
.main-content {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  overflow: hidden;
  width: calc(1520px-20px);
  color: white;
  min-height: 95vh;
  line-height: 22px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}
audio {
  width: 20%;
}
.areamap {
  width: 20%;
  height: 193px;
  border: 2px solid black;
  filter: contrast(70%);
}
:is(.main, .main1, .main2, .main3) {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  width: 100%;
  border-radius: 20px;
  background-color: #232b2b;
}
.main1 {
  margin-left: auto;
  margin-right: auto;
}
:is(a, p) {
  color: #b01c33;
  letter-spacing: 1px;
  font-size: 16px;
}
figure img {
  width: 20%;
  filter: contrast(100%);
}
iframe {
  width: 20%;
}
@media screen and (max-width: 900px) {
  :is(.main, .main1, .main2) {
    width: 90%;
  }
}
@media screen and (max-width: 700px) {
  /* .main-content {
    flex-direction: column;
    margin-right: 20px;
  }
  :is(.main, .main1, .main2, .main3) {
    width: 90%;
  } */
  audio{
    width:100%;
  }
  figure img {
    width: 100%;
  }
  iframe{
    width:100%;
  }
  .areamap {
    width: 100%;
  }
  video{
    width:100%;
  }
  embed{
    width:100%;
  }
}
